body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0;
  background-color: #fdfbfb;
}

.header {
  margin: 30px 45px 10px 25px;
  display: flex;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  color: #444444;
}

.home {
  text-decoration: underline;
  color: tomato;
}

.box-card {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  width: 1200px;
  margin: auto;
}

.container-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 60px;
}

.container-profile .card {
  margin-right: 55px;
  box-shadow: 3px 3px 8px gray;
}

.container-profile .profile {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 2;
}

h3 span {
  font-weight: normal;
}

.form-add {
  margin: auto;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 60px;
  line-height: 1.75;
}

.btn-submit {
  margin-top: 20px;
  padding-left: 350px;
}

.btn-edit {
  margin-top: 100px;
  padding-left: 350px;
}
